.qsHead{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.53;
    text-align: left;
    color: #192f60;
}

.qsSubHead{
    font-family: Poppins;
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #8c96ab;
margin-bottom: 33px;
}